<h1><%= @task.title %></h1><div class="completed" completed="<%= @task.completed == true %>"><%= @task.completed ? "Done!" : "To do" %></div>
<p><%= @task.details %></p>

<%= link_to "Edit task", edit_task_path %>

<%= link_to "Tasks list", tasks_path %>
